

.debug .row{
    min-height: 50px;
    background-color: blue;
    color: white;
    text-align: center;
  
}



.row .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8,.col-9, .col-10, .col-11, .col-12 {
    border: solid 1px white;
}

.debug .row .row .box{
    background-color:green;
   
  }
  

.row .col-offset-1, .col-offset-2, .col-offset-3, .col-offset-4, .col-offset-5, .col-offset-6, .col-offset-7, .col-offset-8, .col-offset-9, .col-offset-10, .col-offset-11, .col-offset-12 {
    background-color: white;
}
